@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-family: 'Fredoka';
    }
}

@responsive {
    h1 {
        text-shadow: 0 1px #312E81, 0 0 2px #312E81, 0 0 10px #C7D2FE;
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    }
}